# {{ ansible_managed }}

listen:
  port: 80

http2-casper: ON
http2-reprioritize-blocking-assets: ON
# compress: ON

ssl-session-resumption:
  mode: all

user: nobody

tcp-fastopen: 8192

header.set: "X-Content-Type-Options: nosniff"
header.set: "X-Frame-Options: DENY"

access-log: /var/log/h2o/access.log
error-log: /var/log/h2o/error.log
pid-file: /var/run/h2o.pid

hosts:
  "localhost":
    paths:
      /server-status:
        mruby.handler: |
          acl {
            allow { addr == "127.0.0.1" || addr == "::1" }
            deny
          }
        status: ON
  "example.org":
    <<: !file /etc/h2o/conf.d/example.org.conf
